#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  color: #E0B1CB;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: .15em;
  background-color: #5E548E;
  height: 300px;
}

.card-title{
  color: #E0B1CB;
}

.read-the-docs {
  color: #888;
}
