* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
  background-color: #231942; 
}

a {
  font-weight: 500;
  color: #9F86C0;
  text-decoration: inherit;
}
a:hover {
  color: #5E548E;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid;
  color: #9F86C0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #231942;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  color: #231942;
  background-color: #5E548E;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #9F86C0;
    background-color: #ffffff;
  }
  a:hover {
    color: #5E548E;
  }
  button {
    background-color: #f9f9f9;
  }
}
